@charset "UTF-8";

* {
    font-family: "Playwrite DE Grund", cursive;
}

section {
    padding-top: 80px
}

.modal-backdrop {
    z-index: 1029;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    padding-left: 20px;
}

.nav-item a {
    color: #fff;
}

section h2 {
    font-weight: bold;
    font-size: 24px;
    color: #198754;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}